.adaptive-flex-box {
  height: 100%;
  width: 100%;
  display: flex;
  border: 0;
  gap: 0;

  &.top {
    justify-content: flex-start;
    align-items: center;
  }

  &.bottom {
    justify-content: flex-end;
    align-items: center;
  }

  &.left {
    justify-content: center;
    align-items: flex-start;
  }

  &.right {
    justify-content: center;
    align-items: flex-end;
  }

  &.top-left {
    justify-content: flex-start;
    align-items: flex-start;
  }

  &.top-right {
    justify-content: flex-start;
    align-items: flex-end;
  }

  &.bottom-left {
    justify-content: flex-end;
    align-items: flex-start;
  }

  &.bottom-right {
    justify-content: flex-end;
    align-items: flex-end;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}
