// useAlert

.alert-error {
  --background: #fff1f1; // Light red
  --border-color: #ff0000; // Red
  --color: #ff0000; // Red
}

.alert-warning {
  --background: #fff8e1; // Light yellow
  --border-color: #ffc107; // Amber
  --color: #ff6f00; // Deep orange
}
